:root {
  --celadon: #afe3c0ff;
  --wisteria: #b79cedff;
  --princeton-orange: #ff8600ff;
  --baltic-blue: #32639aff;
  --deep-navy: #0b1d51ff;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.side {
  background-color: var(--baltic-blue);
}
.center {
  background-color: var(--deep-navy);
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: color-mix(
    in oklab,
    var(--baltic-blue) 50%,
    var(--deep-navy) 50%
  );
}
.center,
.side {
  padding-left: 10px;
  padding-right: 10px;
}
.main1,
.fullh {
  height: 100%;
}
body {
  padding: 0;
}
.navContainer {
  .nav {
    a {
      font-weight: bold;
      padding: 10px;
      font-size: xx-large;
    }
    align-self: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  padding-bottom: 10px;
  background-color: color-mix(
    in oklab,
    var(--baltic-blue) 50%,
    var(--deep-navy) 50%
  );
  width: 100vw;
}
p,
strong,
h1,
div {
  color: var(--princeton-orange);
}
a {
  color: var(--celadon);
  &:hover {
    color: color-mix(
      in oklab,
      var(--celadon) 80%,
      var(--deep-navy) 20%
    );
  }
}
